/* Import fonts from fonts.css file */
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Lato:wght@100&family=League+Spartan:wght@500;600;700&family=Montserrat:wght@100;500;700&display=swap');
@import url(./fonts.css);

:root {
	--fontFamily: 'Lato', sans-serif;
	--fontW: 800;
	--boxShadow: #00000029 0px 3px 6px, #0000003b 0px 3px 6px;
}

* {
	margin: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	display: flex;
	flex-direction: column;
}

#myVideo {
	object-fit: cover;
	width: 100%;
	height: 100vh;
	z-index: -2;
	position: relative;
	background-repeat: no-repeat;
}

/*  Présentation */
.presentation {
	position: absolute;
	top: 15%;
	left: 13%;
	display: flex;
	flex-direction: column;
	text-align: center;
	overflow: hidden;
	z-index: -1;
}

.hello {
	text-transform: uppercase;
	font-size: 3vw;
	color: #ffffff;
	text-shadow: 4px 4px 5px rgba(50, 49, 49, 0.87);
	font-style: italic;
	font-weight: 700;
}

.hello span {
	font-size: 2em;
	font-weight: 600;
	color: #ffffff;
	text-shadow: 4px 4px 5px rgba(16, 16, 15, 0.87);
}

.work {
	text-transform: uppercase;
	font-size: 5vw;
	color: #f1f1f1;
	text-shadow: 4px 4px 5px #000000b5;
}

.scrolldownicon {
	position: absolute;
	bottom: 195px;
	right: 48%;
	cursor: pointer;
	text-align: center;
}

.scrolldownicon img {
	width: 50px;
}

/***** About Section *****/

.about-section {
	width: 100%;
	/* height: 100vh; */
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
}

.about-content {
	display: flex;
	align-items: flex-start;
	margin-top: 20px;
}

.about-content p {
	/* font-size: 1.4rem; */
	font-style: italic;
	font-weight: 400;
	padding-right: 30px;
	overflow: hidden;
	text-align: justify;
}

.about-text {
	margin-left: 20px;
}

h3 {
	text-transform: uppercase;
	font-size: 1.2rem;
	font-weight: bolder;
	background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color: #7acbe9;
	color: #ffffff;
	box-shadow: var(--boxShadow);
	width: 10em;
	display: flex;
	justify-content: center;
	padding: 15px 10px;
	overflow: hidden;
	margin: 20px auto;
}

.about-img {
	background-color: #87b7de;
	border-radius: 15px;
}

.downloadcv {
	overflow: hidden;
	padding: 20px 0px;
	margin-top: 85px;
}

.section_title {
	margin-bottom: 50px;
	margin-top: 0;
}

a {
	text-decoration: none;
	color: inherit;
}

.cta {
	position: relative;
	margin: auto;
	padding: 19px 22px;
	transition: all 0.2s ease;
}

.cta:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	/* border-radius: 28px; */
	background: rgba(255, 171, 157, 0.5);
	width: 60px;
	height: 60px;
	transition: all 0.3s ease;
}

.cta span {
	position: relative;
	font-size: 16px;
	line-height: 18px;
	font-weight: 900;
	letter-spacing: 0.25em;
	text-transform: uppercase;
	vertical-align: middle;
}

.cta svg {
	position: relative;
	top: 0;
	margin-left: 10px;
	fill: none;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke: #111;
	stroke-width: 2;
	transform: translateX(-5px);
	transition: all 0.3s ease;
}

.cta:hover:before {
	width: 100%;
	background: #ffab9d;
}

.cta:hover svg {
	transform: translateX(0);
}

.cta:active {
	transform: scale(0.96);
}

/* btn scroll to top */
#myBtn {
	display: none;
	position: fixed;
	bottom: 15px;
	right: 20px;
	z-index: 99;
	filter: opacity(0.5);
	width: 60px;
	border: none;
	outline: none;
	cursor: pointer;
	border-radius: 10px;
	font-size: 18px;
}

#myBtn:hover {
	filter: opacity(1);
}

@media screen and (max-width: 745px) {
	.topnav a {
		display: none;
	}

	.topnav a.icon {
		float: right;
		display: block;
	}

	.downloadcv {
		margin-top: 25px;
	}

	.about-content p {
		font-size: 14px;
	}

	a.myhome {
		visibility: hidden;
	}

	.about-img {
		display: none;
	}

	.downloadcv {
		text-align: center;
	}

	.about-section {
		height: 80vh;
		padding: 0 10px;
	}

	#myBtn {
		bottom: 10;
		right: 10;
	}

	.presentation {
		left: 0;
	}
}

@media screen and (max-width: 600px) {
	.topnav.responsive .icon {
		position: absolute;
		right: 0;
		top: 0;
	}

	.topnav.responsive a {
		float: none;
		display: block;
		text-align: left;
	}

	.presentation {
		font-size: 50px;
	}

	.work {
		font-size: 25px;
	}
}

@media screen and (max-width: 450px) {
	#myBtn {
		bottom: 7;
		right: 20;
	}
}
